.MainContainer{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    height: 7.8vh;
    align-items: center;
    background-color: rgb(238, 244, 248);
    padding-left: 0.6rem;
    padding-right: 1rem;
}
.MainLeft{
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
    align-items: center;
    width: 60%;
}
.MainLeft1{
    display: flex;
    height: 50px; /* sets the height of the element to 50 pixels */
    position: relative; /* sets the position property to relative */
   
}

.MainLeft1::after {
    content: ""; /* adds a pseudo-element */
    position: absolute; /* sets the position property to absolute */
    right: 0; /* sets the distance between the border and the right edge of the element */
    top: 25%; /* sets the distance between the border and the top edge of the element */
    height: 50%; /* sets the height of the border to half of the element's height */
    border-right: 1px solid black; /* sets a solid black border to the right */
  }

.MainLeft2{
    display: flex;
    height: 40px; /* sets the height of the element to 50 pixels */
    position: relative; /* sets the position property to relative */
    padding: 0.4rem;
    width: 9rem;
}
.MainLeft2::after{
    content: ""; /* adds a pseudo-element */
    position: absolute; /* sets the position property to absolute */
    right: 0; /* sets the distance between the border and the right edge of the element */
    top: 25%; /* sets the distance between the border and the top edge of the element */
    height: 50%; /* sets the height of the border to half of the element's height */
    border-right: 1px solid black; /* sets a solid black border to the right */
}

.MainLeft3{
    display: flex;
    width: 5rem;
}
.MainLeft4{
    display: flex;
}
.MainLeft5{
    display: flex;
}
.MainLeft6{
    display: flex;
}
.MainLeft7{
    display: flex;
}
.MainLeft1Icones{
    margin: 0.25rem;
    padding: 0.2rem;
    height: 80%;
    border-radius: 0.2rem;
}

.MainLeft1Icones:hover{
    background-color: rgb(205, 215, 223);
   
}