
.container{
    display: flex;

}


.container{
    display: flex;
}


.mainContainer{
    height: 100vh;
    outline: none;
    width: 35%;
    margin: auto;
    text-align: start;
  padding: 5rem 10rem;
  background-color: white;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;


  /* cursor:auto; */
  font-size: 14px;
  position: absolute;
  left: 22rem;
 
}
.menuSpan .menuIcon{
    font-size: 1.5rem;
    margin-top: -0.5rem;
    color: rgb(41, 39, 39);
    /* margin-left: 2rem; */
    border-radius: 50%;
    cursor: pointer;
    padding: 0.5rem;
    margin-left: 10px;
   
}
.menuIcon:hover{
    background-color: rgb(227, 223, 223);
}


.menuIconsOpen{
    width: 250px;
    margin: 0;
}
.menuIconsOpen div{
   
    display: flex;
    justify-content: space-between;
    font-family: serif;
    margin-left: 20px;
   
}
.plusIcon{
  
    border-radius: 50%;
    font-size: 15px;
    padding: 0.5rem;
}
.plusIcon:hover{
    background-color: rgb(227, 223, 223);

}
hr{
    background-color: rgb(115, 113, 113);
    margin-top: 2px;
    margin-left: 20px;
}
.slidingDiv{
    display: flex;
    flex-direction: column;
    
}

.slidingDiv p{
    font-family: serif;
    margin-top: 15px;
    width: 100%;
    padding: 0;
    justify-items: start;
}

.arrow{
   
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 20px;
    margin-left: 10px;
    margin-top: -8px;

}
.arrow:hover{
    background-color: rgb(227, 223, 223);

    margin-top: -8px;
}
.textarea{
    margin-left: 20px;
    width: 220px;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 10px;
    height: 50px;

}

.mainContainer{
    height: 100vh;
  
    outline: none;
    width: 35%;
    margin: auto;
    text-align: start;
  padding: 5rem 10rem;
  background-color: white;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;


  /* cursor:auto; */
  font-size: 14px;
  position: absolute;
  left: 22rem;
 
}
.menuSpan .menuIcon{
    font-size: 1.5rem;
    margin-top: -0.5rem;
    color: rgb(41, 39, 39);
    /* margin-left: 2rem; */
    border-radius: 50%;
    cursor: pointer;
    padding: 0.5rem;
    margin-left: 10px;
   
}
.menuIcon:hover{
    background-color: rgb(227, 223, 223);
}


.menuIconsOpen{
    width: 250px;
    margin: 0;
}
.menuIconsOpen div{
   
    display: flex;
    justify-content: space-between;
    font-family: serif;
    margin-left: 20px;
   
}
.plusIcon{
  
    border-radius: 50%;
    font-size: 15px;
    padding: 0.5rem;
}
.plusIcon:hover{
    background-color: rgb(227, 223, 223);

}
hr{
    background-color: rgb(115, 113, 113);
    margin-top: 2px;
    margin-left: 20px;
}
.slidingDiv{
    display: flex;
    flex-direction: column;
    
}

.slidingDiv p{
    font-family: serif;
    margin-top: 15px;
    width: 100%;
    padding: 0;
    justify-items: start;
}

.arrow{
   
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 20px;
    margin-left: 10px;
    margin-top: -8px;

}
.arrow:hover{
    background-color: rgb(227, 223, 223);

    margin-top: -8px;
}
.textarea{
    margin-left: 20px;
    width: 220px;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 10px;
    height: 50px;

}