.option1{
    padding: 0.5rem;
    margin: 0.1rem;
    border: 1px solid rgb(235, 235, 235);
    background-color: rgb(238, 244, 248);
}
.option1:hover{
    background-color: rgb(206, 218, 228);
    border-radius: 0.5rem;
    cursor: pointer;

}
