.MainContainer{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    height:7vh;
    align-items: center;
    background-color: rgb(238, 244, 248);

}
.MainLeft{
    display: flex;
    align-items: center;
    width: 50%;
    padding: 0.5rem;
    margin: 0.1rem;
}
.MainLeft1{
    display: flex;
    height: 50px; 
    position: relative;
}
.MainLeft2{
  padding: 0.3rem;
  margin: 0.2rem;
 
}


.MainLeft3{
    display: flex;
    width: 5rem;
}
.MainLeft4{
    display: flex;
}
.MainLeft5{
    display: flex;
}
.MainLeft6{
    display: flex;
}
.MainLeft7{
    display: flex;
}
.MainLeft1Icones{
    margin: 0.15rem;
    padding: 0.2rem;
    height: 60%;
    border-radius: 0.2rem;
    display: block;
}

.MainLeft1Icones:hover{
    background-color: rgb(205, 215, 223);
   
}
.MainLeft1IconesZoom{
    margin: 0.25rem;
    padding: 0.2rem;
    height: 80%;
    border-radius: 0.2rem;
}
