.MainContainer{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    border-radius: 0.8rem;
    font-size: 1.2rem;
    height:7vh;
    align-items: center;
    background-color: rgb(238, 244, 248);
    padding:  0 20px;

}
.MainLeft{
    display: flex;
    align-items: center;
    width: 1000%;
    padding: 0 0.5rem;
    margin: 0.1rem;
    /* border: 1px solid red; */
    height: 48px;
   

}
.MainLeft button{
    border: none;
    font-size: 20px;
}
.MainLeft1{
    display: flex;
    height: 50px; 
    position: relative;
    align-items: center;
    gap: 10px;
    /* border: 1px solid red; */


}
.MainLeft2{
  padding: 0.3rem;
  margin: 0.2rem;

 
}


.MainLeft3{
    display: flex;
    width: 9rem;
  padding: 6px 10px;
  background-color: rgb(238, 244, 248);
  padding: 0 0.2rem;
  height: 69%;
  border-radius: 0.2rem;
  /* border: 1px solid red; */




}
.MainLeft3 select{

    background-color: rgb(238, 244, 248);
    border: none;
    

}
.MainLeft4{
    display: flex;
  /* border: 1px solid red; */
      /* border: 1px solid red; */
      align-items: center;
      padding: 0;
      font-size: 10px;
      justify-content: center;
      height: 100%;
      font-size: 20px;


}
.MainLeft5{
    display: flex;
    align-items: center;
    height: 48px;
    margin-left: 10px;
    padding: 0 10px;
    gap: 10px;

}
.MainLeft5 button{
    padding: 0;
    margin: 0;
    
}
.MainLeft6{
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 20px;
   gap: 10px;
   padding:0 10px;

}
.MainLeft7{
    display: flex;
    /* border: 1px solid red; */
    margin-left: 10px;
    align-items: center;
    font-size: 20px;
    height: 100%;
    gap: 10px;
    
}
.MainLeft7 button{
    border: none;
    font-size: 20px;
}
.MainLeft1Icones{
   
    display: flex;
}

.leftAlign:hover{
    background-color: rgb(205, 215, 223);
   
}
.middleAlign:hover{
    background-color: rgb(205, 215, 223);

}
.rightAlign:hover{
    background-color: rgb(205, 215, 223);

}
.MainLeft1IconesZoom{
    margin: 0.25rem;
    padding: 0.2rem;
    height: 80%;
    border-radius: 0.2rem;
    /* border: 1px solid red; */
}
